asgiref==3.8.1
config==0.5.1
coverage==7.6.4
Django==5.1.2
django-filter==24.3
django-jazzmin==3.0.1
djangorestframework==3.15.2
psycopg2==2.9.10
python-decouple==3.8
sqlparse==0.5.1
typing_extensions==4.12.2
